@charset "SHIFT_JIS";

/*
	01. Body
	02. Image
	03. Miscellaneous
	04. Text
	
*/


/* 01 Body
----------------------------------------*/


body {
	background:#FFFFFF;
	color: #333333;
	line-height:133%;
	margin: 0;
	padding: 0;
	text-align:center;
}


* {
	font-family:"ＭＳ Ｐゴシック","MS-PGothic", "Hiragino Kaku Gothic Pro",osaka,Verdana,Arial,Georgia,"メイリオ","Meiryo", MS UI Gothic,sans-serif;
}


/* 02 Image
----------------------------------------*/

img {
border: 0px none;
}

/* 03 Miscellaneous
-------------------------------------------------*/

dl,dt,dd,p,h1,h2,h3,h4,ul,li,iframe{
	margin: 0px;
	padding: 0px;
}


.clr {
clear: both;
}

/* -- hr_setting -- */

hr.clear { 
	clear: both; 
	visibility:hidden; 
	margin:1px 0; 
}

/* 04 Text
-------------------------------------------------*/
/*--bold--*/
.txtb {
	font-weight:bold;
	}


/*--link--*/
a {/*リンクされた文字*/
	color:#336699;
	font-style:normal;
	text-decoration:none;
}

a:link {/*未訪問のリンク*/
	color:#336699;
	font-style:normal;
	text-decoration:none;
}

a:visited{/*訪問後のリンク*/
	color:#336699;
	text-decoration:none;
}

a:hover{/*マウスをのせたとき*/
	color:#336699;
	font-style:normal;
	text-decoration:underline;
}

a:active{/*クリック中*/
	text-decoration:underline;
}

a:hover, a:visited:hover {
	color:#336699;
	text-decoration:underline;
}

a:focus {
-moz-outline-style:underline;
}


/* 05 Clearfix
-------------------------------------------------*/


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
