@charset "SHIFT_JIS";

/*
	01. 左カラム（2カラム）
	02. 右カラム（2カラム）
	03. 1カラム
*/

/* 01 左カラム
----------------------------------------*/

/*テーブル*/
#primary table{
	border:1px #666 solid;
	border-collapse: collapse;
	border-spacing: 0;
}

#primary table td{
	border: 1px #666 solid;
	border-width: 0 0 1px 1px;
}

.txt_c{
	font-size:13px;
	font-weight:bold;
	text-align:center;
}

.txt_d{
	font-size:10px;
	text-align:center;
}

.txt_e{
	padding:2px 10px;
	font-size:12px;
}

.txt_e ul{
	margin:2px 0;
	padding-left:15px;
}

.txt_e ul li{
	margin:0px;
	padding:0px;
	line-height:135%;
}

.txt_f{
	padding:1px 10px;
	font-size:12px;
}

.txt_g{
	padding:1px 10px;
	font-size:12px;
	color:red;
	text-align:right;
	font-weight:bold;
}

.txt_right{
	font-size:13px;
	text-align:right;
	margin:5px 10px 0 0;
}

.txt_left{
	font-size:13px;
	margin:0 10px;
	padding:3px 0 0 0;
	line-height:130%;
}

/*h2*/
#primary h2{
	font-size:16px;
	margin:10px 0 0 0;
	padding:9px 0 0 10px;
	background:#000;
	color:#FFF;
	height:28px;
	clear:both;
}

/*ご利用の流れのh2（若葉マーク付）*/
.wakaba{
	padding-left:5px;
	vertical-align:top;
}

/*ブックオフを選ぶ理由*/
#point01{
	background: url("../bo_img/point01.gif") no-repeat;
	width:220px;
	height:316px;
}

#point02{
	background: url("../bo_img/point02.gif") no-repeat;
	width:220px;
	height:316px;
}

#point03{
	background: url("../bo_img/point03.gif") no-repeat;
	width:220px;
	height:316px;
}

#bo_point{
	margin-top:5px;;
}

#bo_point ul{
	list-style-type:none;
}

#bo_point ul li{
	float:left;
	font-size:12px;
	margin-bottom:25px;
}

/*ご利用の流れ h3*/
#index_page h3{
	font-size:14px;
	margin:20px 0 5px 0;
	padding:2px 0 0 10px;
	background:#f5f5f5;
	height:23px;
	border-bottom:3px solid #00CC00;
	clear:both;
}

#index_step{
	margin:10px 0 30px 5px;
	width:460px;
	float:left;
	overflow:hidden;
}

#index_step_s{
	margin:10px 0 30px 5px;
	width:390px;
	float:left;
	overflow:hidden;
}

#beginner01_b_txt{
	background : url("../bo_img/beginner01.gif") no-repeat 0;
	margin-bottom:8px;
	padding-top:2px;
	text-indent:22px;
	font-size:15px;
	font-weight:bold;
}

#beginner02_b_txt{
	background : url("../bo_img/beginner02.gif") no-repeat 0;
	margin-bottom:8px;
	padding-top:2px;
	text-indent:22px;
	font-size:15px;
	font-weight:bold;
}

#beginner03_b_txt{
	background : url("../bo_img/beginner03.gif") no-repeat 0;
	margin-bottom:8px;
	padding-top:2px;
	text-indent:22px;
	font-size:15px;
	font-weight:bold;
}

.step_txt{
	margin-left:20px;
	margin-bottom:10px;
	font-size:12px;
	line-height:135%;
}

.beginner_attention{
	border:1px solid #FFCCCC;
	background:#FFF5F5;
	padding:7px;
	font-size:11px;
	line-height:135%;
	margin:5px 10px 10px 20px;
}

.step_img{
	float:right;
	overflow:hidden;
	margin:10px 0;
}

/*買取価格表 h3*/
#sell_list h3{
	font-size:14px;
	margin:20px 0 5px 0;
	padding:2px 0 0 10px;
	background:#f5f5f5;
	height:23px;
	border-bottom:3px solid red;
}

#sell_list dl{
	margin:10px 0 0px 10px;
}

#sell_list dl dt{
	font-weight:bold;
	font-size:14px;
}

.mobile_list ul{
	font-size:12px;
	list-style-type:none;
	margin:0px 10px 10px 10px;
}

.mobile_list li{
	float:left;
	padding-right:30px;
}

.txt_name{
	font-weight:bold;
	font-size:14px;
	margin:20px 0 0 10px;
}

.list_top{
	text-align:right;
	font-size:11px;
	padding-right:18px;
	margin-top:5px;
	margin-bottom:10px;
}

/*機種別買取価格表*/

#CarrierNavi{
	margin:20px 0 0 10px;
	width:648px;
	height:28px;
	background:url("../bo_img/carr_navi.gif") no-repeat left top;
}
	#CarrierNavi:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
	}
	/*\*/
	* html #CarrierNavi {
		height: 1em;
		overflow: visible;
	}
	/**/
	#CarrierNavi {
		display: inline-table;
	}

#CarrierNavi ul  {
  list-style: none;
  }

	#CarrierNavi ul:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
	}

  
#CarrierNavi li{	
	float:left;
	margin:0;	
	padding:0;
	height:28px;
}

#CarrierNavi a{	
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#CarrierNavi li span{	
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#CarrierNavi li#navi01 a  {
	width:216px;
	height:28px;
	background-position: 0px 0px;
	text-decoration: none;
	}

#CarrierNavi li#navi01 a:hover {
	background: url("../bo_img/carr_navi_on.gif") no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	}

#CarrierNavi li#navi01 A.vis {
	background: url(../bo_img/carr_navi_on.gif) no-repeat 0px 0px;
	text-decoration: none;
}

#CarrierNavi li#navi02 a  {
	width:216px;
	height:28px;
	background-position: -216px 0px;
	text-decoration: none;
	}
#CarrierNavi li#navi02 a:hover {
	background: url("../bo_img/carr_navi_on.gif") no-repeat;
	background-position: -216px 0px;
	text-decoration: none;
	}

#CarrierNavi li#navi02 A.vis {
	background: url(../bo_img/carr_navi_on.gif) no-repeat -216px 0px;
	text-decoration: none;
}

#CarrierNavi li#navi03 a  {
	width:216px;
	height:28px;
	background-position: -432px 0px;
	text-decoration: none;
	}
#CarrierNavi li#navi03 a:hover {
	background: url("../bo_img/carr_navi_on.gif") no-repeat;
	background-position: -432px 0px;
	text-decoration: none;
	}

#CarrierNavi li#navi03 A.vis {
	background: url(../bo_img/carr_navi_on.gif) no-repeat -432px 0px;
	text-decoration: none;
}

.btntxt{
	font-size:12px;
	margin:3px 0 0 0px;
}

/*発送前チェック h3*/
#delivery_check h3{
	font-size:14px;
	margin:20px 0 5px 0;
	padding:2px 0 0 10px;
	background:#f5f5f5;
	height:23px;
	border-bottom:3px solid #ff8c00;
	clear:both;
}


#check_step{
	margin:10px 0 30px 5px;
	width:480px;
	float:left;
	overflow:hidden;
}

#check_step_s{
	margin:10px 0 30px 5px;
	width:390px;
	float:left;
	overflow:hidden;
}

#check_step2{
	margin:10px 10px 30px 5px;
	clear:both;
}

#check_b_txt{
	background : url("../bo_img/check_ico.gif") no-repeat 0;
	margin-bottom:3px;
	padding-top:2px;
	text-indent:18px;
	font-size:15px;
	font-weight:bold;
}

#check_list{
	padding:0px;
	margin:0px;
}

#check_list table{
	border-collapse:collapse;
	border-spacing: 0;
	width:630px;
	margin-left:20px;
	margin-bottom:15px;
	padding:0;
}

#check_list table td{
	padding:4px 10px;
	font-size:12px;
	line-height:130%;
}

#check_list_att{
	margin:0 15px 0 25px;
	border:1px solid #FFCCCC;
	background:#FFF5F5;
	padding:15px 20px 20px 15px;
}

#check_list_att .txt{
	font-size:12px;
	line-height:100%;
}

#check_list_att ul{
	margin-left:15px;
	padding-left:10px;
}

#check_list_att ul li{
	font-size:12px;
	padding-top:10px;
	line-height:140%;
}

/*よくある質問 h3*/
#faq h3{
	font-size:14px;
	margin:20px 0 0px 0;
	padding:2px 0 0 10px;
	background:#f5f5f5;
	height:23px;
	border-bottom:3px solid #2CA6E0;
}

#faq_link{
	padding:0px;
	margin-top:10px;
	margin-bottom:30px;
}

#faq_link ol{
  list-style-type: none;
  padding:0px 0 5px 0px;
  margin: 0;
}

#faq_link li{
  float:left;
  margin: 0;
  padding: 0;
}

#faq_link .link_l{
	margin:0 0 0 3px;
	padding-right:20px;
	font-size:12px;
}

#faq_link .link_l IMG {
	padding-right:2px;
	vertical-align:middle;
}

#faq_txtq{
	padding:0px;
	margin:15px 10px 5px 10px;
	font-size:13px;
	line-height:130%;
	clear:both;
}

#faq_txtq ol{
	list-style-type:none;
	padding:0px;
	margin: 0;
}

#faq_txtq li{
	background : url("../bo_img/q_ico.gif") no-repeat 0px 0.13em;
	margin: 0;
	padding: 0;
}

#faq_txtq .ql{
	padding-left:20px;
}

#faq_txta{
	padding:0px;
	margin:10px 20px 40px 20px;
	font-size:13px;
	border:1px solid #FFCCCC;
	background:#FFF5F5;
	padding:10px;
	line-height:130%;
}

#faq_txta ol{
	list-style-type:none;
	padding:0px;
	margin: 0;
}

#faq_txta li{
	background : url("../bo_img/a_ico.gif") no-repeat 0px 0.13em;
	margin: 0;
	padding: 0;
}

#faq_txta .al{
	padding-left:20px;
}

#faq_txta_img{
	padding:0px;
	margin:10px 20px 15px 20px;
	font-size:13px;
	border:1px solid #FFCCCC;
	background:#FFF5F5;
	padding:10px;
	line-height:130%;
}

#faq_txta_img ol{
	list-style-type:none;
	padding:0px;
	margin: 0;
}

#faq_txta_img li{
	background : url("../bo_img/a_ico.gif") no-repeat 0px 0.13em;
	margin: 0;
	padding: 0;
}

#faq_txta_img .al{
	padding-left:20px;
}

#faq .txt_left{
	font-size:14px;
	margin:0px;
	padding:0;
	line-height:130%;
}


/* 02 右カラム
----------------------------------------*/

/*ランキング*/
#rank_main{
	width:260px;
}

#rank_main .time{
	text-align:right;
	font-size:11px;
	color:#666;
	padding-right:3px;
}

.info{
	margin:0 0px 10px 0;
}

#rank_main .corp_d{
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	margin:0px 0 10px 0;
	background:red;
	padding-left:7px;
	padding-top:2px;
	padding-bottom:2px;
}

#rank_main .corp_s{
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	margin:0px 0 10px 0;
	background:#666;
	padding-left:7px;
	padding-top:2px;
	padding-bottom:2px;
}

#rank_main .corp_a{
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	margin:0px 0 10px 0;
	background:#FF6700;
	padding-left:7px;
	padding-top:2px;
	padding-bottom:2px;
}

#rank_main ol{
	margin:0px;
	padding:0px;
	zoom:normal;
	width:260px;
}

#rank_main ol li{
	list-style-type:none;
	margin-bottom:6px;
	font-size:12px;
}

#rank_main .rank01{
	line-height:150%;
	font-weight:bold;
	background: url(../bo_img/rank01.gif) no-repeat 3px 6px;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank02{
	line-height:150%;
	font-weight:bold;
	background: url(../bo_img/rank02.gif) no-repeat 3px 6px;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank03{
	line-height:150%;
	font-weight:bold;
	background: url(../bo_img/rank03.gif) no-repeat 3px 6px;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank04{
	line-height:130%;
	background: url(../bo_img/rank04.gif) no-repeat 0.6em 0.12em;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank05{
	line-height:130%;
	background: url(../bo_img/rank05.gif) no-repeat 0.6em 0.12em;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank06{
	line-height:130%;
	background: url(../bo_img/rank06.gif) no-repeat 0.6em 0.12em;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank07{
	line-height:130%;
	background: url(../bo_img/rank07.gif) no-repeat 0.6em 0.12em;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank08{
	line-height:130%;
	background: url(../bo_img/rank08.gif) no-repeat 0.6em 0.12em;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank09{
	line-height:130%;
	background: url(../bo_img/rank09.gif) no-repeat 0.6em 0.12em;
	padding-left:29px;
	padding-bottom:4px;
	border-bottom:1px dotted #dcdcdc;
}

#rank_main .rank10{
	line-height:130%;
	background: url(../bo_img/rank10.gif) no-repeat 0.6em 0.12em;
	padding-left:29px;
}

#rank_main ol li .price{
	color:red;
	text-align:right;
	padding-right:3px;
}

#rank_main .all{
	text-align:right;
	font-size:11px;
	padding-right:3px;
	border-top:1px solid #999;
	padding-top:3px;
	margin-top:6px;
	margin-bottom:20px;
	clear:both;
}

/* 03 1カラム
----------------------------------------*/
/*規約*/
#privacy_main{
	width:900px;
	margin-left:15px;
}

#privacy_link{
	padding:0px;
	margin-top:5px;
	margin-right:5px;
}

#privacy_link ol{
  list-style-type: none;
  padding:0px 0 5px 0px;
  margin: 0;
}

#privacy_link li{
  float:right;
  margin: 0;
  padding: 0;
}

#privacy_link .link_r{
	margin:0 0 0 13px;
	padding:0px 0 0 0;
	font-size:12px;
}

#privacy_link .link_r IMG {
	padding-right:2px;
	vertical-align:middle;
}

#privacy_main h2{
	font-size:16px;
	margin:5px 0 10px 0;
	padding-top:10px;
}

.txt_content_ttl{
	font-size:13px;
	margin:0 0 3px 0;
	line-height:125%;
}

.txt_content{
	font-size:13px;
	margin:3px 3px 15px 3px;
	line-height:130%;
}

.txt_content ul{
	margin:5px 0 7px 0;
	padding-left:20px;
}

.txt_content ol{
	margin:5px 0 7px 0;
	padding-left:25px;
}

/*会社概要*/
#prof{
	font-size:14px;
	margin:10px 0 0 0;
}

#prof table{
	border:none;
	border-collapse:collapse;
	border-spacing: 0;
}

#prof table td{
	border:none;
	padding:10px;
}