@charset "SHIFT_JIS";

/*
	01. footer
*/


/* 01 footer
----------------------------------------*/

#footer {
	clear: both;
	position:absolute;
	background-color:#003399;
	width:940px;
	margin:0;
	padding:0px;
	line-height:160%;
}
	
.fotlink a:link {
	color: #FFF;
	text-decoration:none;
}

.fotlink a:visited {
	color: #FFF;
	text-decoration:none;
}

.fotlink a:hover {
	color: #FFF;
	text-decoration:underline;
}
.fotlink a:visited:hover {
	color: #FFF;
	text-decoration:none;
}

DIV#helpBox{
	text-align:left;
	margin-top:20px;
	margin-right:15px;
	margin-left:30px;
	margin-bottom:10px;
	width:440px;
	float:left;
	height:auto;
	border-right:#fff 1px dotted;
}

DIV#ttlHelp{
	width:440px;
	font-size:14px;
	font-weight:bold;
	padding-bottom:2px;
	color:#FFF;
}

UL#helpLeft{
	margin:5px 0px 6px;
	float:left;
}

UL#helpLeft LI{
	height:17px;
	font-size:12px;
	list-style-type:none;
	padding-bottom:3px;
}

UL#helpLeft IMG{
	padding-right:3px;
	vertical-align:middle;
}

UL#helpRight{
	margin:5px 0px 6px 35px;
	float:left;
}

UL#helpRight LI{
	height:17px;
	font-size:12px;
	list-style-type:none;
	padding-bottom:3px;
}

UL#helpRight IMG {
	padding-right:3px;
	vertical-align:middle;
}

DIV#serviceBox{
	text-align:left;
	margin-top:20px;
	padding-left:10px;
	width:auto;
	float:left;
	height:auto;
}

DIV#ttlservice{
	width:auto;
	font-size:14px;
	font-weight:bold;
	padding-bottom:2px;
	color:#FFF;

}

UL#serviceLeft{
	margin:5px 0px 6px;
	float:left;
}

UL#serviceLeft LI{
	height:17px;
	font-size:12px;
	list-style-type:none;
	padding-bottom:3px;
}

UL#serviceLeft IMG{
	padding-right:3px;
	vertical-align:middle;
}

UL#serviceRight{
	margin:5px 0px 6px 35px;
	float:left;
}

UL#serviceRight LI{
	height:17px;
	font-size:12px;
	list-style-type:none;
	padding-bottom:3px;
}

UL#serviceRight IMG {
	padding-right:3px;
	vertical-align:middle;
}