@charset "SHIFT_JIS";

/*
	01. Main Area
	02. Page Layout
	03. Global_navi（2カラム）
	04. Global_navi（1カラム）
	05. Related Links Area
	
*/


/*--Common
------------------------------------------------*/
.first{
	display:
}

/* 01 Main Area
----------------------------------------*/
#main {
	width:940px;
	margin: 0 auto;
	text-align:left;
	}


#contents {
	background: #FFFFFF;
	width:940px;
	padding-bottom:40px;
	}

	#contents:after {
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
		content: "";
	}
	#contents {
  min-height: 1px;
}

* html #contents {
  height: 1px;
}

/* 02 Page Layout
----------------------------------------*/
#wrapper {
	color:#333333;
	font-size:100%;
	width:940px;
	margin-top:15px;
}

#primary {
	width:668px;
	float:left;
}

#secondary{
	float:right;
	width:260px;
}

/* 03 Global_navi（2カラム）
----------------------------------------*/
#globalNavi{
	width:668px;
	height:42px;
	background:url("../bo_img/gnavi.gif") no-repeat left top;
}
	#globalNavi:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
	}
	/*\*/
	* html #globalNavi {
		height: 1em;
		overflow: visible;
	}
	/**/
	#globalNavi {
		display: inline-table;
	}

#globalNavi ul  {
  list-style: none;
  }

	#globalNavi ul:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
	}

  
#globalNavi li{	
	float:left;
	margin:0;	
	padding:0;
	height: 42px;
}

#globalNavi a{	
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#globalNavi li span{	
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#globalNavi li#navi01 a  {
	width:167px;
	height:42px;
	background-position: 0px 0px;
	text-decoration: none;
	}

#globalNavi li#navi01 a:hover {
	background: url("../bo_img/gnavi_on.gif") no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	}

#globalNavi li#navi01 A.vis {
	background: url(../bo_img/gnavi_on.gif) no-repeat 0px 0px;
	text-decoration: none;
}

#globalNavi li#navi02 a  {
	width:167px;
	height: 42px;
	background-position: -167px 0px;
	text-decoration: none;
	}
#globalNavi li#navi02 a:hover {
	background: url("../bo_img/gnavi_on.gif") no-repeat;
	background-position: -167px 0px;
	text-decoration: none;
	}

#globalNavi li#navi02 A.vis {
	background: url(../bo_img/gnavi_on.gif) no-repeat -167px 0px;
	text-decoration: none;
}

#globalNavi li#navi03 a  {
	width: 167px;
	height: 42px;
	background-position: -334px 0px;
	text-decoration: none;
	}
#globalNavi li#navi03 a:hover {
	background: url("../bo_img/gnavi_on.gif") no-repeat;
	background-position: -334px 0px;
	text-decoration: none;
	}

#globalNavi li#navi03 A.vis {
	background: url(../bo_img/gnavi_on.gif) no-repeat -334px 0px;
	text-decoration: none;
}

#globalNavi li#navi04 a  {
	width:167px;
	height: 42px;
	background-position: -501px 0px;
	text-decoration: none;
	}

#globalNavi li#navi04 a:hover {
	background: url("../bo_img/gnavi_on.gif") no-repeat;
	background-position: -501px 0px;
	text-decoration: none;
	}
	
#globalNavi li#navi04 A.vis {
	background: url(../bo_img/gnavi_on.gif) no-repeat -501px 0px;
	text-decoration:none;
}

/* 04 Global_navi（1カラム）
----------------------------------------*/
#globalNavi_full{
	width:940px;
	height:42px;
	background:url("../bo_img/gnavifull.gif") no-repeat left top;
}
	#globalNavi_full:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
	}
	/*\*/
	* html #globalNavi_full {
		height: 1em;
		overflow: visible;
	}
	/**/
	#globalNavi_full {
		display: inline-table;
	}

#globalNavi_full ul  {
  list-style: none;
  }

	#globalNavi_full ul:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
	}

  
#globalNavi_full li{	
	float:left;
	margin:0;	
	padding:0;
	height: 42px;
}

#globalNavi_full a{	
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#globalNavi_full li span{	
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#globalNavi_full li#navi01 a  {
	width:235px;
	height:42px;
	background-position: 0px 0px;
	text-decoration: none;
	}

#globalNavi_full li#navi01 a:hover {
	background: url("../bo_img/gnavifull_on.gif") no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	}

#globalNavi_full li#navi01 A.vis {
	background: url(../bo_img/gnavifull_on.gif) no-repeat 0px 0px;
	text-decoration: none;
}

#globalNavi_full li#navi02 a  {
	width:235px;
	height: 42px;
	background-position: -235px 0px;
	text-decoration: none;
	}
#globalNavi_full li#navi02 a:hover {
	background: url("../bo_img/gnavifull_on.gif") no-repeat;
	background-position: -235px 0px;
	text-decoration: none;
	}

#globalNavi_full li#navi02 A.vis {
	background: url(../bo_img/gnavifull_on.gif) no-repeat -167px 0px;
	text-decoration: none;
}

#globalNavi_full li#navi03 a  {
	width: 235px;
	height: 42px;
	background-position: -470px 0px;
	text-decoration: none;
	}
#globalNavi_full li#navi03 a:hover {
	background: url("../bo_img/gnavifull_on.gif") no-repeat;
	background-position: -470px 0px;
	text-decoration: none;
	}

#globalNavi_full li#navi03 A.vis {
	background: url(../bo_img/gnavifull_on.gif) no-repeat -334px 0px;
	text-decoration: none;
}

#globalNavi_full li#navi04 a  {
	width:235px;
	height: 42px;
	background-position: -705px 0px;
	text-decoration: none;
	}

#globalNavi_full li#navi04 a:hover {
	background: url("../bo_img/gnavifull_on.gif") no-repeat;
	background-position: -705px 0px;
	text-decoration: none;
	}
	
#globalNavi_full li#navi04 A.vis {
	background: url(../bo_img/gnavifull_on.gif) no-repeat -705px 0px;
	text-decoration:none;
}


/* 05 Related Links Area
------------------------------------------------*/
#rel_link{
	padding:12px 0px;
	margin: 0px;
	width:940px;
}

#rel_link .link_r{
	text-align:right;
	margin:0 0 0 13px;
	padding:0px 3px 0 0;
	font-size:80%;
}

#rel_link .link_r IMG {
	padding-right:3px;
	vertical-align:middle;
}