@charset "SHIFT_JIS";

/*ブックオフを選ぶ3つの理由*/
.point_txt{
	margin-top:75px;
	line-height:138%;
	margin-left:24px;
	margin-right:15px;
	margin-bottom:16px;
}

.point_txt_c{
	margin-top:75px;
	line-height:138%;
	margin-left:24px;
	margin-right:15px;
	margin-bottom:5px;
}

.point_txt_r{
	margin-top:75px;
	margin-left:24px;
	margin-right:15px;
	line-height:136%;
	color:#FFF;
}

/*買取基準*/
.txt_h{
	padding:3px 10px;
	font-size:12px;
}

.txt_h ul{
	margin:2px 0;
	list-style-type:none;
}

.txt_h ul li{
	font-weight:bold;
	line-height:115%;
}

.txt_b{
	padding:7px 10px;
	font-size:14px;
}

/*買取不可・減額画像*/
#faq_ng_tp ul{
	list-style-type:none;
	margin:0px 0px 0 18px;
}

#faq_ng_tp li{
	float:left;
	font-size:11px;
	margin-bottom:7px;
	margin-right:9px;
}

#faq_ng_btm ul{
	list-style-type:none;
	margin:0px 0px 0 18px;
}

#faq_ng_btm li{
	float:left;
	font-size:11px;
	margin-bottom:30px;
	margin-right:9px;
}
