table#detail{
}

table#detail td{
	white-space: nowrap;
	padding: 1px 4px;
}

ul.pageNav {
	margin: 0 0 10px;
	padding: 10px 10px 5px;
}

ul.pageNav li {
	display: inline;
	margin: 0 2px;
	padding: 0;
}

ul.pageNav li span,
ul.pageNav li a {
	display: inline-block;
	margin-bottom: 5px;
	padding: 5px 13px;
	background: #eeeff7;
	text-decoration: none;
	vertical-align: middle;
}

ul.pageNav li a:hover {
	color: #000;
	background: #ccc;
	border-color: #00f;
}