body {
    font-size : 12px;
}
table.inputTbl {
    font-size : 12px;
    border : 0px;
    border-collapse: collapse;
}
table.inputTbl th {
    border : 1px #000000 solid;
    text-align : left;
    padding : 7px 7px;
    background-color : #0000CD;
    color : #FFFFFF;
    vertical-align : middle;
}
table.inputTbl td {
    border : 1px #000000 solid;
    padding : 7px 7px;
    vertical-align : middle;
}
table.dataTbl {
    font-size : 12px;
    border : 0px;
    border-collapse: collapse;
}
table.dataTbl th {
    border : 1px #000000 solid;
    text-align : left;
    padding : 5px 5px;
    background-color : #0000CD;
    color : #FFFFFF;
    vertical-align : middle;
}
table.dataTbl td {
    border : 1px #000000 solid;
    padding : 5px 5px;
    vertical-align : middle;
}
table.dataTbl td(odd) {
	background-color:#FCFCFC;
}
