
/*
 * base panels
 */
.goods_arrival_panel {
 width: 980;
 margin:0 auto 0 auto;
}

.goods_arrival_genre_panel {
 width: 180;
 float: left;
 text-align: left;
}

.goods_arrival_item_panel {
 width: 800;
 float: left;
}

#goods_arrival_date_title {
 float: left;
}
#goods_arrival_date {
 float: right;
 height:23px;
}

.genre_list_goods_arrival {
 clear: both;
}

.genre_list_goods_arrival ul{
 list-style-type: none;
 margin: 0 0 0 1em;
 padding: 0;
}

.genre_list_goods_arrival em {
font-style: normal;
}

#genre_count_goods_arrival_00 {
}
#genre_count_product_11 {
}
#genre_count_product_12 {
}
#genre_count_product_31 {
}
#genre_count_product_71 {
}
#genre_count_product_51 {
}

/*
 * item table
 */

th.table_goods_arrival_genre {
 width: 50px;
 text-align: center;
}
td.table_goods_arrival_genre {
 width: 40px;
 text-align: center;
}

th.table_goods_arrival_usedprice {
 width: 60px;
 text-align: center;
}
td.table_goods_arrival_usedprice {
 width: 60px;
 text-align: right;
}

th.table_goods_arrival_price {
 width: 50px;
 text-align: center;
}
td.table_goods_arrival_price {
 width: 50px;
 text-align: right;
}

.table_goods_arrival_sellday {
 width: 60px;
 text-align: center;
}

th.table_goods_arrival_seller {
 width: 70px;
 text-align: center;
}
td.table_goods_arrival_seller {
 width: 70px;
 text-align: left;
}

th.table_goods_arrival_genrecode0 {
display:none;
}

th.table_goods_arrival_genrecode1 {
display:none;
}

th.table_goods_arrival_genrecode2 {
display:none;
}

td.table_goods_arrival_genrecode0 {
display:none;
}

td.table_goods_arrival_genrecode1 {
display:none;
}

td.table_goods_arrival_genrecode2 {
display:none;
}

/*
 * Table wrapper
 */
.dataTables_wrapper {
}


/*
 * Table
 */
table.dataTable {
	margin: 0 auto;
	clear: both;
	font-size: 100%;
}

table.dataTable thead th {
	padding: 3px 3px 3px 3px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
background: none repeat scroll 0% 0% rgb(51, 51, 102);
color: rgb(255, 255, 255);
}

table.dataTable td {
	padding: 3px 5px;
}

table.dataTable td.dataTables_empty {
	display: none;
	text-align: center;
}

table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #D3D6FF; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: #EAEBFF; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }


/*
 * Filter
 */
.dataTables_filter{
	font-size: 16px;
	margin-bottom: 10px;
	color: #444;
}
.dataTables_filter input{
	font-size: 16px;
	padding: 3px;
	color: #444;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 85%;
	background-color: white;
}


/*
 * Sorting
 */
.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}

.marking-on {
	background-color: red;

}

