@charset "SHIFT_JIS";


/*ページトップ*/
.pagetop02{
	float:right;
	padding:0px;
	margin:20px 55px 16px 0px;
	background: url(../images/pagetop.gif) no-repeat left top;
	text-indent: 18px;
	display:block;
	text-align:left;
	height:15px;
	clear:both;
}
.pagetop03{
	float:right;
	padding:0px;
	margin:20px 25px 16px 0px;
	background: url(../images/pagetop.gif) no-repeat left top;
	text-indent: 18px;
	display:block;
	text-align:left;
	height:15px;
	clear:both;
}

/*プライスダウンページ*/
#price_down_header{
      width:980px;height:200px;
      background:url(../images/pricedown_header.gif)no-repeat;
}

#price_down_main{
      width:980px;
      background:url(../images/pricedown_main.gif)repeat-y;
}

#price_down_footer{
      text-indent:-9999px;
      width:980px;height:100px;
      background:url(../images/pricedown_footer.gif)no-repeat;
}

#price_down_card{
      text-indent:-9999px;
      width:240px;height:180px;
      background:url(../images/price_card_10%.gif)no-repeat;
}