@charset "SHIFT_JIS";

/*
	01. HELP BASIC
	02. TOP PAGE LAYOUT
	03. 2ND PAGE LAYOUT
	04. TEXT ELEMENTS
	05. STEP
	06. FAQ
	07. TABLE_PATTERN
	08. FREESTYLE PAGES
	09. ADDITIONAL CLASSES
*/


/*01. HELP BASIC
-------------------------------------------*/

/*contents area for help pages*/

#contentsHelp {
	background: #FFFFFF;
	width: 980px;
	margin:12px 0px 0px 0px;
	 border:1px solid #C00;
	}
		#contentsHelp:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
		}
		/*\*/
		* html #contentsHelp {
		height: 1em;
		overflow: visible;
		}
		/**/
		#contentsHelp{
		display:inline-table;
		}



/*全幅用ページタイトル*/

h1#help{
	background:url(../images/parts/pgs/ptbg.gif) repeat-x top left;
	padding:0px 0px 0px 0px;
	margin:0px;
	width:980px;
	clear:both;
}

h1#help{
	background:url(../images/parts/pgs/privacy.gif) repeat-x top left;
	padding:0px 0px 0px 0px;
	margin:0px;
	width:980px;
	clear:both;
}


#contents #helpfull{
	text-align:left;
		float: left;
		width: 950px;
		border-style: none;
		padding:0px 15px 40px 15px !important;
		padding:0px 0px 40px 15px;
		font-size:1em;
}


/*02.TOP PAGE LAYOUT
-------------------------------------------*/
/*リード*/
div.firstLead{
	font-weight:bold;
	color:#000000;
	padding:20px 0px 0px 15px;
}

/*左右フレーム*/
div#lefthelp{
	margin:20px 0px 20px 0px;
	width:688px;
	float:left;
}
div#righthelp{
	margin:20px 0px 20px 0px;
	width:230px;
	float:right;
}
/*左フレーム内左右ブロック*/
#lefthelp .helpMenuL{
	float:left;
	width:334px;
}
#lefthelp .helpMenuR{
	float:right;
	width:334px;
}

/*項目1ブロック*/
.helpBlock{
	margin:0px;
	padding:0px;
}

.helpBlock ul{
	margin:0px 0px 36px 13px;
	padding:0;
	list-style: none;
}

.helpBlock li{
	margin-right:4px;
	padding:4px 0 4px 0;
	border-bottom:1px dotted #CCC;
	font-weight:bold;
}
.helpBlock li.sub{
	margin-right:4px;
	margin-left:12px;
	border-bottom:1px dotted #CCC;
	font-weight:normal;
}

/*カテゴリタイトル*/
.subBeg{
	background:url(../images/sub_beginner.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subSrc{
	background:url(../images/sub_search.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subOrd{
	background:url(../images/sub_order.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subMbr{
	background:url(../images/sub_member.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subDel{
	background:url(../images/sub_delivery.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subCcl{
	background:url(../images/sub_cancel.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subPur{
	background:url(../images/sub_purchase.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subPS{
	background:url(../images/sub_privacy.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}
.subInfo{
	background:url(../images/sub_information.gif) no-repeat top left;
	margin:0px 0px 8px 0px;
	padding:0px;
	line-height:0.1em;
	font-size:6px;
	width:334px;
	height:33px;
	text-indent:-9999px;
	display:block;
}


/*よくあるご質問エリア*/
#qaMenu{
	background:url(../images/qabg.gif) repeat-y top left;
	width:230px;
	padding:0px;
}

#qaMenu:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
		}
		/*\*/
		* html #qaMenu {
		height: 1em;
		overflow: visible;
		}
		/**/
		#qaMenu{
		display:inline-table;
		}
#qahead{
	background:url(../images/qaheader.gif) no-repeat top left;
	width:230px;
	height:59px;
	padding:0px;
	text-indent:-9999px;
	display:block;
	font-size:1em;
	line-heihgt:0.1em;
}
#qabtm{
	background:url(../images/qabottom.gif) no-repeat top left;
	width:230px;
	heihgt:11px;
	padding:0px;
	margin:0px;
	text-indent:-9999px;
	display:block;
	font-size:1em;
	line-heihgt:0.1em;
}
#qaMenu #FaQwrapper{
	padding:2px 0px 12px 25px;	
}

#qaMenu #FaQwrapper ul{
	list-style:none;
	margin:0;
	padding:0;
}


#qaMenu #FaQwrapper ul li a{
	background:url(../images/qicon.gif) no-repeat 0 2px;
	text-indent:0px !important;
	text-indent:0px;
	padding:0 0 12px 18px;
	height:12px;
}

#qaMenu #FaQwrapper02{
	padding:2px 0px 12px 25px;
        width:190px;	
}

#qaMenu #FaQwrapper02 ul{
	list-style:none;
	margin:0;
	padding:0;
}


#qaMenu #FaQwrapper02 ul li a{
	background:url(../images/qicon.gif) no-repeat 0 2px;
	text-indent:0px !important;
	text-indent:0px;
	padding:0 0 12px 18px;
	display:block;
}

/*03. 2ND PAGE LAYOUT
-------------------------------------------*/

/*カテゴリ見出し*/
#helpfull h2{
	background:url(../images/tt_base_f.gif) no-repeat top left;
	padding:10px 0px 0px 13px;
	margin:0px 0px 8px 0px;
	line-height:1em;
	font-weight:bold;
	width:950px;
	height:33px;
	vertical-align:middle;
	float:left;
	clear:both;
}

/*ナビエリア*/
#naviFrame{
	background:url(../images/navi_bg.gif) repeat-x top left;
	height:43px;
	padding:16px 17px 0px 28px;
	margin-bottom:20px;
}

#naviFrame .brcrm{
	float:left;
	width:770px;
}

#naviFrame .bkidx{
	float:right;
	/*width:150px;*/
	text-align:right;
}

.bkidx span.link_l{
	padding:0px;
	margin:0px;
	background: url(../images/parts/arrow_l.gif) no-repeat left top;
	text-indent: 20px;
	display:block;
	text-align:left;
	height:16px;
}


/*ヘルプ1ブロック分*/
.helpCnt{
	width:937px;
	padding-left:13px;
}


.helpCnt:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
		}
		/*\*/
		* html .helpCnt {
		height: 1em;
		overflow: visible;
		}
		/**/
		.helpCnt{
		display:inline-table;
		}
		
		
/*リード部分2分割*/
.areaLeft{
	margin:10px 0px 20px 0px;
	width:458px;
	float:left;
	margin-right:2px;
}

.areaRight{
	margin:10px 0px 20px 0px;
	width:460px;
	float:right;
}


/*インデントエリア*/
.indentFrameHlp{
	margin:0 0 16px 16px;
	
}

/*ページトップ*/
.pagetop{
	float:right;
	padding:0px;
	margin:20px 0px 16px 0px;
	background: url(../images/pagetop.gif) no-repeat left top;
	text-indent: 18px;
	display:block;
	text-align:left;
	height:15px;
	clear:both;
}


/*画像ミニ*/
.figmini{
	width:70px;
	float:left;
}

.cap{
	float:left;
}

/*04. TEXT ELEMENTS
------------------------------------------------------------*/
/*基本テキスト指定（1ブロック分）下20pxアキ（幅930px全幅）*/
.txtcontents{
	margin:0px 0px 20px 0px;
	width:930px;
	clear:both;
}

/*基本テキスト指定　下12pxアキ　（細かい段落区切りの場合）*/
.txtHlp{
	padding:0px 0px 12px 0px;
}
/*基本テキスト指定　テーブル内画像とテキストが上下にならぶ場合の下テキスト*/
.tbltxtfig{
padding:5px 0px 0px 0px;
}
/*基本テキスト指定　テーブル内画像とテキストが上下にならぶ場合の上テキスト*/
.tbltxtfig02{
padding:0px 0px 5px 0px;
}


/*基本画像指定*/
.figHlp{
	padding:6px 0px 16px 0px;
	text-align:center;
}

/*画像左側*/
.figLeft{
	padding:6px 0px 12px 0px;
	float:left;
}

/*画像右側*/
.figRight{
	padding:6px 0px 12px 0px;
	float:right;
}


/*見出し-大（色：青）*/
.titleHlpLrg{
	color:#333399;
	font-weight:bold;
	padding:12px 0px 8px 0px;
}

/*見出し-中（色：黒）*/
.titleHlpMlm{/*使用箇所あとで調べる*/
	font-weight:bold;
	padding:6px 0px 8px 0px;
}

/*見出し-小（色：グレー）*/
.titleHlpSml{
	font-weight:bold;
	padding:12px 0px 0px 0px;
	color:#666666;
}

/*注釈*/
/*注意度大*/
.titleHlpNote01{
	color:#990000;
	padding:0px 0px 6px 0px;
}

/*注意度中*/
.titleHlpNote02{
	color:#990000;
	padding:0px 0px 6px 0px;
	font-size:0.9em;
}

/*補足*/
/*補足重要度大*/
.titleHlpAdd01{
	color:#666666;
	padding:0px 0px 6px 0px;
}

/*補足重要度中*/
.titleHlpAdd02{
	color:#666666;
	padding:0px 0px 6px 0px;
	font-size:0.9em;
}

/*文章中赤文字*/
span.red{color:#CC0000;}

/*注意喚起文章*/
.caution{
	color:#660000;
	margin:12px 0 10px 0;
}

/*05. STEP
------------------------------------------------------------*/
/*ステップ*/
.stepbg{
	clear:both;
	margin-top:8px;
}

.stepCont{
	margin:12px 0px 28px 0px;
}

.stepCont:after {
		content: "";
		display: block;
		clear: both;
		height: 1px;
		overflow: hidden;
		}
		/*\*/
		* html .stepCont {
		height: 1em;
		overflow: visible;
		}
		/**/
		.stepCont{
		display:inline-table;
		}

/*ステップ項目でステップ画像が右側にある場合の左側のテキスト指定*/
.steptxt{
	float:left;
	width:210px;
	font-weight:bold;
}
/*ステップ項目でステップ画像が右側にある場合の画像指定*/
.stepfig{
	float:right;
	width:710px;
}

.stepfig02{
	float:right;
        position:absolute;
        left:600px;
        top:510px;
}

.stepfig03{
	float:right;
        position:absolute;
        left:70px;
        top:550px;
}


/*06. FAQ
------------------------------------------------------------*/
/*FAQ質問ページ*/
.FAQFrm{/*これは共通*/
	width:935px;
	margin-bottom:32px !important;
	margin-bottom:0px;
	padding:6px 0 24px 0;
	clear:both;
}
.FAQTtl{
	color:#0066cc;
	font-weight:bold;
	float:left;
	width:210px;
}

.FAQQR{
	background: url(../images/qfrmicon.gif) no-repeat left top;
	float:right;
	width:710px;
	margin:5px 0px;
}

.FAQAR{
	background: url(../images/afrmicon.gif) no-repeat left top;
	float:right;
	width:710px;
	margin:5px 0px;
}

p.QTxt{
	float:right;
	width:680px;
	display:block;
	text-alignt:left;
	margin:0px 0px;
}

.dot{
	background: url(../images/dot.gif) repeat-x left top;
	width:935px;
	margin:8px 0 0px 0;
	clear:both;
}


/*FAQ答えページ*/
.question{
	background: url(../images/qfrmicon.gif) no-repeat left 3px;
	font-weight:bold;
	float:left;
	width:330px;
}
.question p.QTxt{
	float:right;
	width:310px;
	display:block;
	text-alignt:left;
	padding-top:5px;
}


.answer{
	background: url(../images/afrmicon.gif) no-repeat left top;
	float:right;
	width:585px;
	margin:5px 0px;
}

.answer p.ATxt{
	float:right;
	width:565px;
	display:block;
	text-alignt:left;
}



/*07. TABLE_PATTERN
-----------------------------------------------------*/
.table{
	margin-bottom:8px;
}

/*メディアフォーマット*/
table.mediaF{
	width:935px;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	border-collapse:collapse;
}

table.mediaF th{
	background-color:#EEEECC;
	padding:4px;
	border:1px solid #CCC;
}

table.mediaF th.tab01{
	width:90px;
}

table.mediaF th.tab02{
	width:206px;
}
table.mediaF th.tab03{
	width:192px;
}
table.mediaF th.tab04{
	width:800px;
}
table.mediaF th.tab05{
	width:350px;
}

table.mediaF th.tab06{
	width:585px;
}


table.mediaF td{
	background-color:#FFFFFF;
	padding:4px;
	border:1px solid #CCC;
}


/*質問アンド答え*/
table.qa{
        width:935px;
	border:1px solid #ffffff;
	background-color:#ccccff;
	border-collapse:collapse;
}


table.qa td.tab01{
	background-color:#FFFFFF;
	width:350px;
}


table.qa td.tab02{
	background-color:#FFFFFF;
	width:585px;


}


/*在庫状況*/
table.stock{
	width:935px;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	border-collapse:collapse;
}

table.stock th{
	background-color:#EEEECC;
	padding:4px;
	border:1px solid #CCC;
	width:226px;/*236*/
	text-align:left;
}

table.stock td{
	background-color:#FFFFFF;
	padding:4px;
	border:1px solid #CCC;
	width:690px;/*236*/
}


/*08.FREESTYLE PAGES
----------------------------------------*/
/*テンプレートフリーエリア静的ページ用*/

#freeTplWrapper{
	width:935px;
	margin:20px 0px 20px 0px;
}

/*テンプレートフリーエリア静的ページ小窓用*/
#freeTplWrapperSwin{
	width:576px;
	margin:20px 12px 20px 12px;
}



/*09. ADDITIONAL CLASSES
----------------------------------------*/


#hlpFrame{/* 改訂版未使用*/
	padding-left:13px;
	width:682px;
}


ul.list{
	list-style:none;
}

ul.list li{
	padding:4px 0px;
}

ul.cautionlist{
	list-style:none;
	border:1px solid #CCC;
	padding:6px;
}

ul.cautionlist li{
	padding:2px 0px;
	color:#333333;
}


/*静的ページのトピックス*/
#topics_wrapper {
         wigth:904px;
}


#topics_primary {
         position:absolute;
         left:10px;
         top:300px;
         wigth:184;
}


#topics_secondary {
         position:absolute;
         left:194px;
         top:300px;
         wigth:710px;
}