@charset "SHIFT_JIS";

/*
	01. 古物営業法
	02. コピ−ライト
*/


/* 01 古物営業法
----------------------------------------*/

#number {
	width:940px;
	color:#FFF;
	text-align:center;
	font-size:0.75em;
	margin: 0;
	padding-top:20px;
	line-height:1.2em;
	clear:both;
}

/* 02 コピ−ライト
----------------------------------------*/

#copyright {
	width:940px;
	color:#FFF;
	text-align:center;
	font-size:0.6em;
	margin: 0;
	padding:3px 0 10px 0;
	line-height:1.2em;
	clear:both;
}
