@charset "SHIFT_JIS";

/*
	01. ページTOP　h1＋P
	02. Header
	03. 03 パンくず
*/


/* 01 ページTOP　h1＋P
----------------------------------------*/
/*h1タグ*/
.SellHeader
{
	z-index:9999;
	position:relative;
	line-height: 1.4;
	width: 100%;
	font-size:12px;
	overflow:hidden;
	top:3px;
	left:0px;
	_zoom: 1;
	color:#999;
}

.SellHeader h1{
	font-weight:normal;
	font-size: 12px;
	margin-left:0px;
	margin-bottom:10px;
}

.SellHeader #Selltxt{
	position:absolute;
	text-align:right;
	line-height:130%;
	font-size:10px;
	top:2px;
	right:3px;
	margin-right:2px;
}


/* 02 Header
----------------------------------------*/

#header{
	width:940px;
	margin:0px;
	padding:0px;
	}

.logo{
	padding:0px 0px 5px 0px;
	postion:absolute;
	border-bottom:5px solid #003399;
}


/* 03 パンくず
----------------------------------------*/
#naviFrame{
	background-color:#E5EDF9;
	height:25px;
	padding:0;
	line-height:100%;
}

#naviFrame ol{
  list-style-type: none;
  padding:5px 0 5px 10px;
  margin: 0;
}

#naviFrame li{
  float: left;
  margin: 0;
  padding: 0;
	font-size:10px;
}