@charset "SHIFT_JIS";

/*--common--*/

body{
	color: #333;
	font-size: 85%;
	line-height:133%;
	}

td{
	font-size: 85%;
	}
	
th{
	font-size: 85%;
	}



/*--basic font--*/

h1{
	font-size: 140%;
	line-height: 1.6em;
	}

h2{
	font-size: 100%;
	line-height: 1.1em;
	}

h3{
	font-size: 100%;
	line-height:1.6em;
	}

.txt{
	font-size: 85%;
	line-height:160%;
	}

.txt0{
	font-size: 85%;
	}

.txts {
	font-size: 83%;
	line-height:130%;
	}
